.background {
  background: linear-gradient(#f5d968, #f7722a, #c11d6c);
}

.hero-text {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.rambo-pic {
  padding-top: 10%;
  width: 100%;
  position: relative;
  animation: mymove 1.5s;
}

@keyframes mymove {
  from {
    left: -900px;
  }
  to {
    left: 0px;
  }
}

.portfolio {
  padding-bottom: 80px;
}

.carousel-inner {
  max-height: 400px;
  max-width: 740px;
}